<style>
  /* Custom CSS for footer styling */
  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 0.8rem 0rem;
    text-align: center;
  }

  p {
    margin: 0;
  }
</style>

<footer>
  <p>Copyright &copy; 2024 Drive Test Portal. All Rights Reserved.</p>
</footer>
