<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="description"
    content="Welcome to the Drive Test Portal where you can book your G and G2 driving tests easily."
  />
  <meta
    name="keywords"
    content="Drive Test, G Test, G2 Test, Book Driving Test, Kishan Kumar Das"
  />
  <meta name="author" content="Kishan Kumar Das" />

  <title><%= title %> - Book Your Driving Test Today</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
