<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Main Content -->

    <div class="login-main-div">
      <h1>G2 Page</h1>
      <h2>Working on it</h2>
    </div>
    
    <%- include('layouts/footer'); -%> 
    <%- include('layouts/scripts'); -%>
  </body>
</html>
