<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('layouts/header'); -%>
  <body>
    <!-- Navbar -->
    <%- include('layouts/navbar'); -%>

    <!-- Main Content -->

    <main class="g-page-main-div-style">
      <div class="background-container">
        <div class="overlay-style"></div>
        <div class="content-wrapper">
          <!-- Introductory Text -->
          <div class="intro-text">
            <h1>Welcome to the G Test Data Retrieval Portal</h1>
            <h3>
              Enter your License Number below to retrieve your details from the
              database.
            </h3>
          </div>
        </div>
      </div>
      <div class="g-page-container">
        <div class="g-page-form-container">
          <h2 class="text-center">Retrieve Your Information</h2>

          <form class="g-page-form" id="gPageForm" action="/user-data" method="POST">
            <div class="form-group">
              <label for="licenseNumber">License Number</label>
              <input
                type="text"
                class="form-control"
                id="licenseNumber"
                name="licenseNumber"
                placeholder="Enter your License Number"
                required
              />
              <span id="licenseError" class="error-message"></span>
            </div>

            <!-- Submit Button -->
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-primary btn-lg">
                Retrieve Data
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
  </body>
</html>
