<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('layouts/header'); -%>
  <body>
    <!-- Navbar -->
    <%- include('layouts/navbar'); -%>

    <!-- Main Content -->
    <main class="no-user-page-main-div-style">
      <div class="no-user-page-container">
        <h2 class="text-center">No User Found</h2>
        <p>Please check your License Number and try again.</p>
        <a href="/g">Go Back to G Page</a>
      </div>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
  </body>
</html>
